$dark-neutral-black: #1E1E1E;
$dark-neutral-grey: #9F9F9F;
$dark-neutral-grey-lighter: #CDCDCD;
$dark-neutral-white: #E8E8E8;

$dark-background: $dark-neutral-black;
$dark-background-grey-lighter: #2D2D2D;
$dark-background-lighter-rgba-overlay: linear-gradient(0deg, rgba(45, 45, 45, 0.8), rgba(45, 45, 45, 0.8));

$dark-primary-yellow: #EAC435;
$dark-primary-yellow-lighter: #F0D671;

$dark-system-red: #E22D44;
$dark-system-green: #03CEA4;
