/*=======================*/
/*      general          */
/*=======================*/

body {
    background: url('../public/texture.png'),   linear-gradient(160deg, rgba(20, 20, 20, 1) 45%, rgb(37, 37, 37) 70%, rgb(43, 42, 42) 100%);
    background-repeat: repeat,  no-repeat;
    background-size: 50px 50px, 100% 100%;
    background-position: top, center;
    background-attachment: fixed;
    width: 100vw;
}

body::-webkit-scrollbar {
    display: none;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    font-family: 'Lacquer', cursive;
    margin: 0px;
    font-size: 1.8vh;
    color: white;
}

p {
    font-family: 'Saira', sans-serif;
    color: #9f9f9f;
    margin: 0px;
    font-size: 1.5vh;
    text-align: start;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 12px;
    border: solid 2px white;
    width: 140px;
    height: 140px;
}

.fill.small
{
     display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 12px;
    border: solid 2px white;
    width: 37px;
    height: 37px;
    margin-left: 10px;
    margin-right: 10px;
}

.avatar {
    margin-bottom: 3px;
    margin-top: 5px;
    margin-left: 10px;    
}


.shadowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}


/*=======================*/
/*       home page       */
/*=======================*/

.illustration {
    background: url('../public/Illustration.png'), url('../public/red.png'), url('../public/red.png');
    background-size: 80% 80%, 30% 30%, 40% 40%;
    background-position: center, top 20px left 20px, bottom 100px right 0px;
    position: absolute;
    z-index: -1;
    margin-top: 80px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    width: 100%;
    height: 2000px;
    background-attachment: fixed, fixed, fixed;

}

.title {
    color: white;
    font-family: 'Lacquer', cursive;
    font-size: 100px;
    margin-top: 150px;
    text-align: center;
    text-align: center;
    width: 100%;
}

.title.small {
    font-size: 8vw;
}

.text {
    font-size: 30px;
    text-align: center;
    text-shadow: 0px 0px 0px;
    color: white;
    margin-top: 80px;
    margin-bottom: 0px;
}


.textCenter {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.statusImage {
    position: absolute;
    left: 38px;
    bottom: 10px;
}

.L {
    margin-right: 10px;
}


.avatarText {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.margin_top
{
    margin-top: 150px;
}

/*=======================*/
/*       top bar         */
/*=======================*/

.containerTopBar {
    width: 100vw;
    height: 80px;
    background: url('../public/texture.png'), rgba(20, 20, 20, 1);
    background-repeat: repeat, no-repeat;
    background-size: 50px 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 99;
}

.elementTopBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;


}

.elementTopBar.toggle {
    position: absolute;
    top: 15px;
    right: 20px;
    margin: 0px;
}

.elementTopBar.toggle.menu {
    top: 70px;
    right: 10px;
    background: url('../public/texture.png'), rgba(20, 20, 20, 1);
    background-repeat: repeat, no-repeat;
    background-size: 50px 50px;
    border-radius: 10px;
    padding: 10px;
    width: 100vw;
    justify-content: flex-end;
}

.elementTopBar.toggle.avatarMenu {
    top: 110px;
    right: 10px;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.elementTopBar.toggle.avatarMenu.open{
    top: 150px;
}

.searchBar {
    border-top: 0px;
    border-bottom: solid white 1px;
    border-left: 0px;
    border-right: 0px;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 50px;
    width: 250px;
    font-family: 'Saira', sans-serif;
    font-size: 20px;
    color: white;
}



.logoSearchBar {
    position: absolute;
    margin-left: 230px;
    margin-top: 5px;

}

.leaderBoardLink {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 6px;
    font-family: 'Rubik Vinyl', cursive;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    font-size: 15px;
    margin-top: 16px;
}



/*=======================*/
/*      play button      */
/*=======================*/


.PlayButtonContainer {
    padding-bottom: 200px;
    display: flex;
    justify-content: center;

}

.playButton {
    background: url('../public/texture.png'), linear-gradient(160deg, rgba(234, 196, 53, 1) 45%, rgb(233, 110, 9) 70%, rgb(218, 74, 8) 100%);
    background-repeat: repeat, no-repeat;
    background-size: 50px 50px, 100% 100%;
    border-radius: 20px;
    border: solid 1px white;
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    color: #1e1e1e;
    transition: transform 0.3s ease;
    transform: translateX(0px);
    margin-top: 60px;
    z-index: 2;
    position: absolute;
    width: 300px;
    height: 100px;
    text-align: center;
    box-shadow: 0px 0px 8px 1px rgba(234, 196, 53, 1);
}

.playButton:hover {
    transform: translateY(-8px) scale(1.08, 1);
}

.playButtonShadow {
    border: 0px;
    width: 300px;
    height: 80px;
    border-radius: 20px;
    position: absolute;
    background-color: rgba(255, 255, 255,0);
    margin-top: 60px;
    z-index: -1;
}


.playMenuContainer {
    background: url('../public/texture.png'), rgba(255, 255, 255, 0.1);
    background-size: 50px 50px;
    color: white;
    text-align: start;
    border-radius: 8px;
    font-family: 'Saira', sans-serif;
    width: 100%;
}

.playMenuContainer.marge_top
{
    margin-top: 50px;
}

.playMenuEntity {
    width: 100%;
    padding: 10px;
}

.playMenuEntity:hover {
    background: url('../public/texture.png'), rgba(255, 255, 255, 0.1);
    background-size: 50px 50px;
}

.playMenuEntity.bar {
    border-bottom: 1px solid white;
}

/*=======================*/
/*      card             */
/*=======================*/

.card {
    padding: 20px;
    height: 450px;
    width: 100%;
    margin-top: 15px;
    background: url('../public/texture.png'), rgba(151, 150, 150, 0.1);
    background-size: 50px 50px;
    color: white;
    text-align: center;
    border-radius: 8px;
    position: relative;
    backdrop-filter: blur(8px);
    border: 0px;
    overflow: hidden;
}

.cardList
{
    overflow: scroll;
    position: relative;
    width: 100%;
    height: 400px;
}

h2
{
     font-family: 'Press Start 2P', cursive;
     font-size: 20px;

}

.cardList::-webkit-scrollbar {
    display: none;
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

.cardContainer.start {
    justify-content: flex-start;
}

.cardContainer.end {
    justify-content: flex-end;
}

/*=======================*/
/*      entity           */
/*=======================*/

.entity {
    background: url('../public/texture.png') rgba(30, 30, 30, 1);
    background-size: 50px 50px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    width: 250px;
    height: 60px;
    z-index: 2;
    transition: transform 0.3s ease;
    transform: translateX(0px);

}

.entity.small {
    width: 200px;
}

.entity.big {
    width: 360px;
}

.entityShadow {
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 1;
    border-radius: 3px;
    width: 250px;
    height: 60px;
    transition: transform 0.3s ease;
    transform: translateX(0px);
}


.shadowContainer:hover .entity
{
    transform: translateX(-3px) translateY(-3px);
}

.shadowContainer:hover .entityShadow
{
    transform: translateX(3px) translateY(3px);
}

.entityShadow.small {
    width: 200px;
}

.entityShadow.big {
    width: 360px;
}

.entityText {
    margin-left: 15px;
    margin-right: 10px;
}


/*=======================*/
/*      leaderboard      */
/*=======================*/

.shadowContainer.leaderBoard {
    flex-direction: row;
}

.leaderBoardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.card.leaderBoard {
    height: auto;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.rank {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    font-family: 'Saira', sans-serif;
    color: white;
    text-align: center;

}

.level {
    border-radius: 10px;
    background-color: #9f9f9f;
    font-family: 'Saira', sans-serif;
    color: white;
    width: 55px;
    height: 30px;
    padding-top: 5px;
    margin-bottom: 15px;
}

.leaderBoardDoubleColumn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}


/*=======================*/
/*      friend           */
/*=======================*/

.friendMenuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonFriend {
  
    
    border-radius: 3px;
    color: white;
    background-color: #1e1e1e;
    font-size: 20px;
    width: 100%;
    height:100%;
    border: 0px; 
}

.buttonFriend:hover {
    background: url('../public/texture.png'), linear-gradient(160deg, rgba(234, 196, 53, 1) 45%, rgb(233, 110, 9) 70%, rgb(218, 74, 8) 100%);
    background-repeat: repeat, no-repeat;
    background-size: 50px 50px, 100% 100%;
    border: 1px solid white;
}

.buttonProfil {
  
    border-radius: 3px;
    color: white;
    background-color: #1e1e1e;
    border: solid 1px white;
    font-size: 15px;
    margin-right: 5px;
}

.buttonProfil:hover {
    background: url('../public/texture.png'), linear-gradient(160deg, rgba(234, 196, 53, 1) 45%, rgb(233, 110, 9) 70%, rgb(218, 74, 8) 100%);
    background-repeat: repeat, no-repeat;
    background-size: 50px 50px, 100% 100%;
    border: 1px solid white;
}