/*=======================*/
/*      general          */
/*=======================*/

body {
    background: url('../public/texture.png'),   linear-gradient(160deg, rgb(30, 30, 30) 45%, rgb(40, 40, 40) 70%, rgb(50, 50, 50) 100%);
    background-repeat: repeat,  no-repeat;
    background-size: 50px 50px, 100% 100%;
    background-position: top, center;
    background-attachment: fixed;
    width: 100vw;
}

body::-webkit-scrollbar {
    display: none;
}

/*=======================*/
/*      card             */
/*=======================*/

.card {
    padding: 20px;
    height: 450px;
    width: 100%;
    margin-top: 15px;
    background: url('../public/texture.png'), rgba(151, 150, 150, 0.1);
    background-size: 50px 50px;
    color: white;
    text-align: center;
    border-radius: 8px;
    position: relative;
    backdrop-filter: blur(8px);
    border: 0px;
    overflow: hidden;
}

.card.small
{
    height: 380px;
}

.card.xsmall
{
    height: 280px;
}

.cardList
{
    overflow: scroll;
    position: relative;
    width: 100%;
    height: 400px;
    padding-top: 10px;
}

.cardList::-webkit-scrollbar {
    display: none;
}

/*=======================*/
/*      Image            */
/*=======================*/

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 12px;
    border: solid 2px white;
    width: 140px;
    height: 140px;
}

.fill.small
{
     display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 12px;
    border: solid 2px white;
    width: 37px;
    height: 37px;
    margin-left: 10px;
    margin-right: 10px;
}

.statusImage {
    position: absolute;
    left: 38px;
    bottom: 10px;
}