@import 'variables';

.container {
  border-radius: 12px;
  padding: 30px;
  width: 367px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $dark-background-grey-lighter;
  color: #E8E8E8;
  text-align: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

p.error,
p.success {
  margin: 6px 0;
}

p.error {
  color: $dark-system-red;
}

p.success {
  color: $dark-system-green;
}
