@import 'variables';


.pixel
{
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 20px;
    font-size: 20px;
}
//h2

.laquer 
{
    font-family: 'Lacquer', cursive;
    margin: 0px;
    font-size: 1.8vh;
    color: $dark-neutral-white;
}
//h3

.saira 
{
    font-family: 'Saira', sans-serif;
    color: $dark-neutral-grey;
    margin: 0px;
    font-size: 1.5vh;
    text-align: start;
}
//p
